p {
  margin: 0; }

body {
  font-family: "futura", sans-serif;
  margin: 0; }

.hideSite {
  display: block; }

.splash {
  margin: 1vw auto 1vw auto;
  display: block;
  height: 1024px;
  width: 320px;
  background-image: url(../imgs/fullfrontpiece.svg); }
  .splash:hover {
    cursor: pointer; }

.wrapper {
  display: none;
  margin: auto;
  width: 320px;
  background-color: #F4EEDC; }
  @media screen and (min-width: 768px) {
    .wrapper {
      width: 624px; } }
  @media screen and (min-width: 1024px) {
    .wrapper {
      width: 775px; } }
  @media screen and (min-width: 1440px) {
    .wrapper {
      width: 962px; } }

.tablet-logo {
  height: 186px;
  display: flex;
  justify-content: center;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .tablet-logo {
      display: none; } }

.tablet-text-container {
  background-color: #E7DAB3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 10% 0 10% 0; }
  @media screen and (min-width: 1024px) {
    .tablet-text-container {
      margin: 8% 0 8% 0; } }
  @media screen and (min-width: 1440px) {
    .tablet-text-container {
      margin: 5% 0 5% 0; } }

.tablet-frontlady {
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  background-image: url(../imgs/frontlady-tablet.svg);
  width: 20%;
  margin-left: 12%; }
  @media screen and (min-width: 1024px) {
    .tablet-frontlady {
      background-image: url(../imgs/desktopfrontlady.svg); } }
  @media screen and (min-width: 1440px) {
    .tablet-frontlady {
      background-image: url(../imgs/hdfrontlady.svg); } }

.tablet-logo-text {
  background-repeat: no-repeat;
  background-position: center;
  height: 186px;
  width: 35%;
  background-image: url(../imgs/logotext.svg); }
  @media screen and (min-width: 1440px) {
    .tablet-logo-text {
      background-image: url(../imgs/hdcg.svg); } }

.tablet-flavor-text {
  text-shadow: 1px 1px 1px #4F4E4A;
  color: #8ABACF;
  text-align: center;
  display: flex;
  align-items: center;
  height: 186px;
  width: 40%; }
  @media screen and (min-width: 1440px) {
    .tablet-flavor-text {
      font-size: 1.3rem; } }

.mobile-logo {
  display: flex;
  height: 120px; }
  .mobile-logo:hover {
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .mobile-logo {
      display: none; } }

.hammer {
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: inherit;
  background-image: url(../imgs/hammer.svg); }

.mobile-logo-text {
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: inherit;
  background-image: url(../imgs/logotext.svg); }

.saw {
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: inherit;
  background-image: url(../imgs/saw.svg); }

.flavor-banner {
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  background-image: url(../imgs/shakehands.svg);
  width: 100%; }
  @media screen and (min-width: 768px) {
    .flavor-banner {
      display: none; } }

.amenities-button {
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  background-image: url(../imgs/amenitiesbutton.svg);
  width: 100%; }
  .amenities-button:hover {
    background-image: url(../imgs/amenitiesbutton-active.svg);
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .amenities-button {
      background-image: url(../imgs/tabletamenities.svg);
      height: 75px; }
      .amenities-button:hover {
        background-image: url(../imgs/tabletamenities-active.svg);
        cursor: pointer; } }
  @media screen and (min-width: 1024px) {
    .amenities-button {
      background-image: url(../imgs/desktopamenities.svg);
      height: 92px; }
      .amenities-button:hover {
        background-image: url(../imgs/desktopamenities-active.svg);
        cursor: pointer; } }
  @media screen and (min-width: 1440px) {
    .amenities-button {
      background-image: url(../imgs/hdamenities.svg);
      height: 115px; }
      .amenities-button:hover {
        background-image: url(../imgs/hdamenities-active.svg);
        cursor: pointer; } }

.amenities-image {
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  background-image: url(../imgs/hipsterregret1.png);
  background-repeat: no-repeat;
  background-size: 130%; }

.ourspace-button {
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  background-image: url(../imgs/ourspacebutton.svg);
  width: 100%; }
  .ourspace-button:hover {
    background-image: url(../imgs/ourspacebutton-active.svg);
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .ourspace-button {
      background-image: url(../imgs/tabletourspace.svg);
      height: 75px; }
      .ourspace-button:hover {
        background-image: url(../imgs/tabletourspace-active.svg);
        cursor: pointer; } }
  @media screen and (min-width: 1024px) {
    .ourspace-button {
      background-image: url(../imgs/ourspacedesktop.svg);
      height: 92px; }
      .ourspace-button:hover {
        background-image: url(../imgs/ourspacedesktop-active.svg);
        cursor: pointer; } }
  @media screen and (min-width: 1440px) {
    .ourspace-button {
      background-image: url(../imgs/hdourspace.svg);
      height: 115px; }
      .ourspace-button:hover {
        background-image: url(../imgs/hdourspace-active.svg);
        cursor: pointer; } }

.ourspace-image {
  height: 300px;
  background-image: url(../imgs/hipsterregret2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145%; }

.activities-button {
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  background-image: url(../imgs/activitiesbutton.svg);
  width: 100%; }
  .activities-button:hover {
    background-image: url(../imgs/activitiesbutton-active.svg);
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .activities-button {
      background-image: url(../imgs/activitiestablet.svg);
      height: 75px; }
      .activities-button:hover {
        background-image: url(../imgs/activities-active.svg);
        cursor: pointer; } }
  @media screen and (min-width: 1024px) {
    .activities-button {
      background-image: url(../imgs/activitiesdesktop.svg);
      height: 92px; }
      .activities-button:hover {
        background-image: url(../imgs/activitiesdesktop-active.svg);
        cursor: pointer; } }
  @media screen and (min-width: 1440px) {
    .activities-button {
      background-image: url(../imgs/hdactivities.svg);
      height: 115px; }
      .activities-button:hover {
        background-image: url(../imgs/hdactivities-active.svg);
        cursor: pointer; } }

.activities-image {
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  background-image: url(../imgs/yogaclass.jpg);
  background-size: 145%; }

.footer {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  background-color: #F4EEDC;
  background-image: url(../imgs/footer.svg);
  background-position: right;
  margin-right: 2%; }

.footer p {
  color: #cfcdc6;
  font-family: "Futura", sans-serif;
  margin-left: 2%; }

.amenitiesShowing {
  margin: auto;
  width: 320px;
  display: none;
  background-color: #F4EEDC; }

.amenities-text {
  margin: auto;
  padding: 20px;
  color: white;
  background-color: #504e49; }
  .amenities-text h3 {
    text-align: center; }
  .amenities-text p {
    text-indent: 2rem; }

#link-button {
  height: 120px;
  background-image: url(../imgs/amenitiesbutton.svg); }

#link-mobile-logo {
  display: flex; }

#link-flavor-banner {
  display: block; }

/*# sourceMappingURL=output.css.map */
