@mixin backgroundCenter {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin mediaQueryMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin mediaQueryMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

$lightyellow: #F4EEDC;

body {
  font-family: "futura", sans-serif;
  margin: 0;
}

.splash {
  margin: auto;
  display: block;
  height: 1024px;
  width: 320px;
  background-image: url(../imgs/fullfrontpiece.svg);
  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  display: none;
  margin: auto;
  width: 320px;
  background-color: $lightyellow;
  @include mediaQueryMin(768px) {
    width: 624px;
  }
  @include mediaQueryMin(1024px) {
  width: 775px;
}
}

.tablet-logo {
    height: 186px;
    display: flex;
    justify-content: center;
    width: 100%;
    @include mediaQueryMax(768px) {
      display: none;
    }
}

.tablet-text-container {
  background-color: #E7DAB3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 10% 0 10% 0;
}

.tablet-frontlady {
  @include backgroundCenter;
  height: inherit;
  background-image: url(../imgs/frontlady-tablet.svg);
  width: 20%;
  margin-left: 12%;
}

.tablet-logo-text {
  @include backgroundCenter;
  height: 186px;
  width: 35%;
  background-image: url(../imgs/logotext.svg);
}

.tablet-flavor-text {
  text-shadow: 1px 1px 1px #4F4E4A;
  color: #8ABACF;
  text-align: center;
  display: flex;
  align-items: center;
  height: 186px;
  width: 40%;
}

.mobile-logo {
  display: flex;
  height: 120px;
  @include mediaQueryMin(768px) {
  display: none;
  }
}

.hammer {
  @include backgroundCenter;
  width: 25%;
  height: inherit;
  background-image: url(../imgs/hammer.svg);
}

.mobile-logo-text {
  @include backgroundCenter;
  width: 50%;
  height: inherit;
  background-image: url(../imgs/logotext.svg);

}

.saw {
@include backgroundCenter;
width: 25%;
height: inherit;
background-image: url(../imgs/saw.svg);
}

.flavor-banner {
  @include backgroundCenter;
  height: 120px;
  background-image: url(../imgs/shakehands.svg);
  width: 100%;
  @include mediaQueryMin(768px) {
  display: none;
  }
}

.amenities-button {
  @include backgroundCenter;
  height: 120px;
  background-image: url(../imgs/amenitiesbutton.svg);
  width: 100%;
  &:hover {
    background-image: url(../imgs/amenitiesbutton-active.svg);
    cursor: pointer;
  }
  @include mediaQueryMin(768px) {
    background-image: url(../imgs/tabletamenities.svg);
    height: 75px;
    &:hover {
      background-image: url(../imgs/tabletamenities-active.svg);
      cursor: pointer;
    }
  }
  @include mediaQueryMin(1024px) {
  background-image: url(../imgs/desktopamenities.svg);
  height: 92px;
  &:hover {
    background-image: url(../imgs/desktopamenities-active.svg);
    cursor: pointer;
  }
}
}

.amenities-image {
  height: 300px;
  background-image: url(../imgs/hipsterregret1.png);
  background-repeat: no-repeat;
  background-size: 130%
}

.ourspace-button {
  @include backgroundCenter;
  height: 120px;
  background-image: url(../imgs/ourspacebutton.svg);
  width: 100%;
  &:hover {
    background-image: url(../imgs/ourspacebutton-active.svg);
    cursor: pointer;
  }
  @include mediaQueryMin(768px) {
    background-image: url(../imgs/tabletourspace.svg);
    height: 75px;
    &:hover {
      background-image: url(../imgs/tabletourspace-active.svg);
      cursor: pointer;
    }
  }
  @include mediaQueryMin(1024px) {
  background-image: url(../imgs/ourspacedesktop.svg);
  height: 92px;
  &:hover {
    background-image: url(../imgs/ourspacedesktop-active.svg);
    cursor: pointer;
  }
}
}

.ourspace-image {
  height: 300px;
  background-image: url(../imgs/hipsterregret2.png);
  @include backgroundCenter;
  background-size: 145%
}

.activities-button {
  @include backgroundCenter;
  height: 120px;
  background-image: url(../imgs/activitiesbutton.svg);
  width: 100%;
  &:hover {
    background-image: url(../imgs/activitiesbutton-active.svg);
    cursor: pointer;
  }
  @include mediaQueryMin(768px) {
    background-image: url(../imgs/activitiestablet.svg);
    height: 75px;
    &:hover {
      background-image: url(../imgs/activities-active.svg);
      cursor: pointer;
    }
  }
  @include mediaQueryMin(1024px) {
  background-image: url(../imgs/activitiesdesktop.svg);
  height: 92px;
  &:hover {
    background-image: url(../imgs/activitiesdesktop-active.svg);
    cursor: pointer;
  }
}
}

.activities-image {
  @include backgroundCenter;
  height: 300px;
  background-image: url(../imgs/yogaclass.jpg);
  background-size: 145%
}

.footer {
  @include flexCenter;
  @include backgroundCenter;
  height: 120px;
  background-color: $lightyellow;
  background-image: url(../imgs/footer.svg);
}

.footer p {
  color: #cfcdc6;
  font-family: "Futura", sans-serif;
    margin-left: 2%;
}
